@charset "UTF-8";

* {
    margin: 0px;
    padding: 0ps;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(10, 88, 133);
    width: 100vw;
    height: 100vh;
}

body {
    background: url('../imagens/fundo-01-png.jpg') no-repeat right center fixed;
    background-size: cover;
}